<h2>Looking for a talented digital strategist with experience in making awesome visualizations and programs? Look no further. Edward is a Northwestern University alumnus who is currently studing computer science. 
</h2>
<h2>
Edward has helped businesses capture greater shares of audience engagement through marketing and development strategies. Here's how he can help you reach your goals. 
</h2>
<h3><ul>
<li>Code front-end develeopment solutions for your website</li>
<li>Leverage SEO tools like Google Analytics/AdWords</li>
<li>Set measurable goals for online marketing campaigns</li>
</ul>
</h3>